@import './styles/index.css';

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  height: 100dvh;
  overflow: hidden;
  box-sizing: border-box;
  background: #05110d;
}


